.pipbtn{
  background-image:url('src/assets/img/enter_pip.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height:30px;
  width: 32px;
  margin:0;
  padding:0;
  border:0;

  position: absolute;
  right:5px;
  top: 5px;
}
