<div class="row">
  <div class="col d-flex justify-content-center" style="position:relative">
      <video #myvideo autoplay autoPictureInPicture class="video mb-2" style="width:100%"></video>
      <button #mybutton class="pipbtn" (click)="PIP()"></button>
      <video #myvideo2 autoplay controls class="video mb-2" style="width:100%"></video>
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
      <input type="text" class="form-control-sm mr-1" [(ngModel)]="targetpeer">
      <button class="btn btn-success" (click)="connect()">Connect</button>
  </div>
</div>
<p><button (click)="startCapture()">Start Capture</button>&nbsp;<button (click)="stopCapture()">Stop Capture</button></p>
