<div class="container-fluid">
  <div class="profile-block">
    <div class="img">
      <img src="/src/assets/img/wessel.svg" alt="Wessel">
    </div>
    <div class="text">
      <h3>Welkom, <strong>Wessel</strong>!</h3>
      <a routerLink="/login">Log uit</a>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-3" routerLink="/recording">
      <div class="home-block col-12">
        <figure>
          <img src="/src/assets/img/folder.fill.badge.plus.svg" alt="Trulli">
          <figcaption>Nieuw project</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-6 col-md-3">
    <div class="home-block col-12">
      <figure>
        <img src="/src/assets/img/folder.fill.svg" alt="Trulli">
        <figcaption>Bestaande klanten</figcaption>
      </figure>
    </div>
    </div>
    <div class="col-6 col-md-3">
    <div class="home-block col-12">
      <figure>
        <img src="/src/assets/img/questionmark.svg" alt="Trulli">
        <figcaption>Vragenlijsten</figcaption>
      </figure>
    </div>
    </div>
    <div class="col-6 col-md-3">
    <div class="home-block col-12">
      <figure>
        <img src="/src/assets/img/dot.radiowaves.left.and.right.svg" alt="Trulli">
        <figcaption>Streamen naar klant</figcaption>
      </figure>
    </div>
    </div>
  </div>
</div>
