@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.buttonContainer {
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;

}

.playButton {
  width: 174.5px;
  height: 174.5px;
  object-fit: contain;
}

.stopButton {
  width: 174.5px;
  height: 174.5px;
  object-fit: contain;
}

.fullscreen{
  background-color:white;
  color:black;
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn.btn-success {
background-color:black;
}
