<div class="container-fluid">
  <div class="row">
    <div class="col-12 flex justify-content-center">
      <div class="buttonContainer">
        <div class="connectContainer">
          <button class="btn btn-success" (click)="connect()">Connect</button>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-9">
        <div class="screenCapture">
          <video #myvideo autoplay controls class="video mb-2" style="width:100%"></video>
        </div>
      </div>
      <div class="col-3">
        note stuff here
      </div>
    </div>
  </div>
